@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer components {
  /* Button  */
  .btn {
    @apply inline-flex items-center justify-center text-base font-medium rounded-lg whitespace-nowrap focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }
  .btn-sm {
    @apply px-6 py-2 text-sm font-medium;
  }
  .btn-default {
    @apply border text-secondary-90 border-cloudy-20 bg-cloudy-20 disabled:bg-cloudy-50 disabled:text-cloudy-70 disabled:border-transparent disabled:cursor-none;
  }
  .btn-yellow {
    @apply border text-cloudy-120 border-yellow-80 bg-yellow-80 hover:bg-yellow-80/90 disabled:bg-cloudy-50 disabled:text-cloudy-70 disabled:border-transparent disabled:cursor-none;
  }
  .btn-outline-yellow {
    @apply bg-transparent border text-[#D79900] border-[#D79900] hover:bg-cloudy-10;
  }
  .btn-outline-secondary {
    @apply bg-transparent border text-secondary-90 border-secondary-90 hover:bg-cloudy-10;
  }
  .btn-secondary {
    @apply text-white border border-secondary-90 bg-secondary-90 hover:bg-secondary-90/90;
  }
  .btn-white {
    @apply bg-white border border-cloudy-50 text-cloudy-130 hover:bg-cloudy-10/90;
  }
  .btn-transparent {
    @apply bg-transparent border border-cloudy-50 text-cloudy-130 hover:bg-cloudy-50/90;
  }
  .btn-black {
    @apply text-white border border-black-100 bg-black-100 hover:bg-black-100/90;
  }
  .btn-ghost {
    @apply rounded text-secondary-90 hover:bg-cloudy-10/90;
  }
  /* Nav  */
  .nav-item {
    @apply py-2 mx-3 text-base font-medium border-b border-b-transparent text-secondary-50;
  }
  .nav-item.active {
    @apply border-b-black-0 text-secondary-90;
  }
  /* Nav category */
  .nav-cat {
    @apply flex items-center py-3 text-base font-semibold border-b-4 md:py-4 border-b-transparent text-black-100;
  }
  .nav-cat.active {
    @apply border-b-yellow-80;
  }
}
/* Checkbox  */
.custom-checkbox {
  @apply w-5 h-5 border border-gray-300 rounded-md focus:ring-white checked:bg-[#FFE9BA];
}
.label-checkbox {
  @apply w-full text-sm font-medium text-secondary-90;
}
/* Dropzpne  */
.dropzone-default {
  @apply flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer border-yellow-50 bg-yellow-0 hover:bg-yellow-10;
}
.dropzone-upload {
  @apply flex-col items-center justify-center w-full bg-white border-2 border-dashed rounded-lg cursor-pointer h-72 border-cloudy-50;
}
.dropzone-warning {
  @apply flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer border-red-80 bg-red-0 hover:bg-red-10;
}
.dropzone-error {
  @apply flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer border-orange-80 bg-orange-0 hover:bg-orange-10;
}

/* label */
.label-red {
  @apply inline-flex items-center px-3 py-1 text-sm font-medium rounded-2xl bg-red-10 text-red-90 gap-x-1.5;
}
/* rounded-label  */
.label-rounded-red {
  @apply w-2 h-2 rounded-full whitespace-nowrap bg-red-80;
}
.label-rounded-orange {
  @apply w-2 h-2 rounded-full whitespace-nowrap bg-orange-80;
}
.label-rounded-green {
  @apply w-2 h-2 rounded-full whitespace-nowrap bg-green-80;
}

/* table  */
table {
  border-collapse: separate;
}
select.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  position: relative;
}
select.custom-select:not([size]) {
  background-image: url("/src/dist/icons/arrowDown.svg");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
select.custom-arrow-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  position: relative;
}
select.custom-arrow-select:not([size]) {
  background-image: url("/src/dist/icons/arrow-select.svg");
  background-position: right 0rem center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-right: 2rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.body-warning {
  @apply  border-orange-80 bg-orange-20;
}
.body-yellow {
  @apply bg-yellow-0;
}
.body-cloudy {
  @apply bg-cloudy-10;
}
